{% extends 'blog/base.html' %}

{% block title %}
<title>Post - Categoria: {{ categoria }}</title>      
{% endblock %}

{% block content %}
  <h1 class="mb-3">Posts sobre {{ categoria }}</h1>
  {% for post in posts %}
    <div class="post-preview">
      <img class="rounded-circle article-image" src="{{ post.autor.profile.image.url }}" alt="">
      <a href="{% url 'post-detail' post.id %}">
        <h2 class="post-title">{{ post.titulo }}</h2>
        <h3 class="post-subtitle">{{ post.contenido }}</h3>
        <p class="post-meta">Categoria: {{ post.categoria }}</p>
      </a>
      <p class="post-meta">
          Posteado por
          <a href="{% url 'user-post' post.autor.username %}">{{ post.autor }}</a>
          <small class="text-muted"> {{ post.date_posted|date:"F d, Y" }} </small>
      </p>
    </div>
    <!-- Divider-->
    <hr class="my-4" />

  {% endfor %}

  {% if is_paginated %}
    {% if page_obj.has_previous %}

      <a class="btn btn-outline-info mb-4" href="?page=1">Primera</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Anterior</a>

    {% endif %}
    
    {% for num in page_obj.paginator.page_range %}
     
      {% if page_obj.number == num %}
        
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      
      {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}

        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>

      {% endif %}

    {% endfor %}

    {% if page_obj.has_next %}

      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Ultima</a>

    {% endif %}

  {% endif %}
{% endblock %}